{% extends 'layout/admin.html.twig' %}
{% block title %}
    {{ 'page_title.users.list'|trans }}
{% endblock %}
{% block content %}

    <div class="ui grid padded center aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen twelve wide widescreen column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>

    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">

            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.user.list'|trans }}
                </h3>
                <div class="ui attached segment inverted">
                    <div class="ui list inverted">

                        {% if pagination is defined %}
                            {% for user in pagination.currentPageResults %}

                                <div class="item">
                                    <div class="content">
                                        <a href="{{ url('admin_users_edit', {'id': user.id}) }}" class="header">
                                            {{ user.username }}
                                        </a>
                                    </div>
                                </div>

                                {% if pagination.haveToPaginate %}
                                    <div class="pagination-container">
                                        {{ pagerfanta(pagination, 'semanticui_inverted', {'routeName': 'admin_series_list', 'routeParams':{'page':'page'}}) }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="item">
                                <div class="content">
                                    {{ 'error.users.no_result'|trans }}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}