{% extends 'layout/public.html.twig' %}
{% block title %}
    {{ 'page_title.team.detail'|trans }}
{% endblock %}
{% block content %}

    <div class="ui grid center aligned container">
        <div class="column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>

    <div class="ui left aligned container" id="public_series">
        <div class="ui stackable grid">
            <div class="column">
                <h3 class="ui top attached header inverted ">
                    {{ team.name }}
                </h3>
                <div class="ui attached segment inverted">
                    <div class="ui grid stackable">

                        <div class="sixteen wide tablet screen six wide large screen four wide widescreen column">
                            {% if team.image is defined and team.image is not null %}
                                <div class="image">
                                    <img src="{{ url('render_image', {id: team.image.id}) }}" alt="team_image">
                                </div>
                            {% endif %}
                        </div>

                        <div class="sixteen wide tablet screen ten wide large screen twelve wide widescreen column">
                            <div class="ui inverted relaxed divided list">
                                <div class="item">
                                    <div class="content">
                                        <div class="header">{{ 'team.website' | trans }}</div>
                                        {% if team.website is not null %}
                                            {{ team.website }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="content">
                                        <div class="header">{{ 'team.irc' | trans }}</div>
                                        {% if team.irc is not null %}
                                            {{ team.irc }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="content">
                                        <div class="header">{{ 'team.discord' | trans }}</div>
                                        {% if team.discord is not null %}
                                            {{ team.discord }}
                                        {% endif %}

                                    </div>
                                </div>

                                <div class="item">
                                    <div class="content">
                                        <div class="header">{{ 'team.twitter' | trans }}</div>
                                        {% if team.twitter is not null %}
                                            {{ team.twitter }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="content">
                                        <div class="header">{{ 'team.facebook' | trans }}</div>
                                        {% if team.facebook is not null %}
                                            {{ team.facebook }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="content">
                                        <div class="header">{{ 'label.members' | trans }}</div>
                                        {% for members in team.members %}
                                            {{ members.username }}
                                            {% if not loop.last %}
                                                ,
                                            {% endif %}
                                        {% else %}
                                            {{ 'error.members.no_result' | trans }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui left aligned container" id="public_series">
        <div class="ui stackable grid">
            <div class="column">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.chapter.list' | trans }}
                </h3>
                <div class="ui attached segment inverted">
                    <div class="ui grid stackable">

                        <div class="column">

                            {{ include('frontend/partial/chapter-list.html.twig', {chapters: latestsChapters}) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}