<h1>{{ 'mail.confirmation.title' | trans }}</h1>

<p>
    {{ 'mail.confirmation.message' | trans }}{#Please confirm your email address by clicking the following link:#} <br><br>
    <a href="{{ signedUrl|raw }}">{{ mail.confirmation.link_confirm_text }}{#Confirm my Email#}</a>.
    {% set hours = date('g', expiresAt) %}
    {{ 'mail.confirmation.expiration_notice' | trans({'expireDate':hours}) }}{#This link will expire in  hour(s).#}
</p>
