<div class="ui inverted items" id="chapter_list">
    {% set lastSeriesName = null %}
    {% for chapter in chapters %}

        {% if chapter.chapter is defined %}
            {# chapter is a ChapterReaden object  #}
            {% set chapter = chapter.chapter %}
        {% endif %}

        {% set chapterClass = '' %}
        {% if idsChaptersRead is defined and chapter.id in idsChaptersRead %}
            {% set chapterClass = ' readen ' %}
        {% endif %}

        {% set seriesName = chapter.series.name %}

        {% if lastSeriesName is not null and seriesName is same as (lastSeriesName) %}
            <div class="chapter-row">
                <div class="right floated content">
                    {#{{ 'translated-by'|trans }}#}

                    {% if chapter.chapter is defined %}
                        {# chapter is ChapterReaden #}
                        {% set chapter = chapter.chapter %}
                    {% endif %}

                    {% for team in chapter.teams %}
                        {% if chapter.teams.count > 1 and not loop.first %}
                            &
                        {% endif %}
                        <a href="{{ url('public_team_details', {'slug':team.slug}) }}">
                            {{ team.name }}
                        </a>
                    {% endfor %} |

                    {% if chapter.publishedAt|timeDiff > 1 %}
                        {{ chapter.publishedAt | format_datetime('short', 'none', locale=chapter.language) }}
                    {% else %}
                        {{ chapter.publishedAt | ago }}
                    {% endif %}

                </div>

                <a {% if isNewTab is defined and isNewTab %} target="_blank" {% endif %} href="{{ url('reader', {
                    seriesSlug:chapter.series.slug,
                    chapterNumber: chapter.number,
                    language: chapter.language,
                    page: '1'
                }) }}" class="{{ chapterClass }}">

                    {% if series.customTitle is defined and series.customTitle|length > 0 %}
                        {{ series.customTitle }}
                    {% else %}
                        {{ 'label.chapter'|trans }}
                    {% endif %}
                    {{ chapter.number }}
                    {% if chapter.name is defined and chapter.name|length > 0 %} : {{ chapter.name }} {% endif %}
                    &nbsp;
                    <i class="{{ chapter.language }} flag"></i>
                </a>
            </div>
        {% else %}
            {% if lastSeriesName is not null %}
             {#new series line#}
            </div>
            </div>
            </div>
            {% endif %}

            <div class="item">
                {% if chapter.series.image %}
                    <div class="image">
                        <img src="{{ url('render_image', {'id': chapter.series.image.id}) }}" alt="series_image">
                    </div>
                {% endif %}

                <div class="content">
                    <a class="header" href="{{ url('public_series_details', {slug:chapter.series.slug}) }}">{{ chapter.series.name }}</a>
                    <div class="description">
                        <div class="chapter-row">

                            <div class="right floated content">
                                {#{{ 'label.translated-by'|trans }}#}

                                {% if chapter.chapter is defined %}
                                    {# chapter is ChapterReaden #}
                                    {% set chapter = chapter.chapter %}
                                {% endif %}

                                {% for team in chapter.teams %}
                                    {% if chapter.teams.count > 1 and not loop.first %}
                                        &
                                    {% endif %}
                                    <a href="{{ url('public_team_details', {'slug':team.slug}) }}">
                                        {{ team.name }}
                                    </a>
                                {% endfor %} |

                                {% if chapter.publishedAt|timeDiff > 1 %}
                                    {{ chapter.publishedAt | format_datetime('short', 'none', locale=chapter.language) }}
                                {% else %}
                                    {{ chapter.publishedAt | ago }}
                                {% endif %}
                            </div>

                            <a {% if isNewTab is defined and isNewTab %} target="_blank" {% endif %} href="{{ url('reader', {
                                seriesSlug:chapter.series.slug,
                                chapterNumber: chapter.number,
                                language: chapter.language,
                                page: '1'
                            }) }}" class="{{ chapterClass }}">

                                {% if series.customTitle is defined and series.customTitle|length > 0 %}
                                    {{ series.customTitle }}
                                {% else %}
                                    {{ 'label.chapter'|trans }}
                                {% endif %}
                                {{ chapter.number }}
                                {% if chapter.name is defined and chapter.name|length > 0 %} : {{ chapter.name }} {% endif %}
                                &nbsp;
                                <i class="{{ chapter.language }} flag"></i>
                            </a>
                        </div>

        {% endif %}

        {% set lastSeriesName = chapter.series.name %}

    {% endfor %}
    {# End the three missing div from the loop #}
    </div></div></div>
</div>