{% set chapterClass = '' %}
{% if idsChaptersRead is defined and chapter.id in idsChaptersRead %}
    {% set chapterClass = ' readen ' %}
{% endif %}
<div class="item {% if chapterClass is defined %} {{ chapterClass }} {% endif %}">

    {% if chapter.chapter is defined %}
        {# chapter is a ChapterReaden object  #}
        {% set chapter = chapter.chapter %}
    {% endif %}

    <div class="right floated content">
        {{ 'label.translated_by'|trans }}
        {% for team in chapter.teams %}
            {% if chapter.teams.count > 1 and not loop.first %}
                &
            {% endif %}
            <a href="{{ url('public_team_details', {'slug':team.slug}) }}">
                {{ team.name }}
            </a>
        {% endfor %} |
        {% if chapter.publishedAt|timeDiff > 1 %}
            {{ chapter.publishedAt | format_datetime('short', 'none', locale=chapter.language) }}
        {% else %}
            {{ chapter.publishedAt | ago }}
        {% endif %}
    </div>

    <div class="content inline ">
        <a {% if isNewTab is defined and isNewTab %} target="_blank" {% endif %} href="{{ url('reader', {
            seriesSlug:chapter.series.slug,
            chapterNumber: chapter.number,
            language: chapter.language,
            page: '1'
        }) }}" class="{{ chapterClass }}">

            {% if series.customTitle is defined and series.customTitle|length > 0 %}
                {{ series.customTitle }}
            {% else %}
                {{ 'label.chapter'|trans }}
            {% endif %}
            {{ chapter.number }}
            {% if chapter.name is defined and chapter.name|length > 0 %} : {{ chapter.name }} {% endif %}
            &nbsp;
            <i class="{{ chapter.language }} flag"></i>
        </a>
    </div>

</div>