{% extends 'layout/session.html.twig' %}

{% block title %}
    {{ 'page_title.reset_password' }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'title.reset_password.reset_your_password' | trans }}
    </h1>

    {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword) }}
    <button class="btn btn-primary">
        {{ 'label.reset_password' | trans }}
    </button>
    {{ form_end(resetForm) }}
{% endblock %}
