.admin-body {
  .ui.floating.label {
    bottom: -1em;
    top: unset;
  }

  #follow_series_list {

    .card {
      width: 357px;
      border: none;
      box-shadow: none;

      &:nth-child(odd) {
        background-color: #333333;
      }

      .content {
        border: none;
      }

      .image {
        text-align: center;
        line-height: 0;
        background: transparent;
        max-height: 150px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      a {
        color: inherit;
        margin: 0;
      }

      .button {
        margin: 0;
        width: 100%;
      }
    }
  }

}