html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, .3);
}
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .3);
  border-radius: 5px;
}

.reader-body, body.reader-body>.pusher {
  background: #3e3e3e !important;
}

a {
  color: rgba(255,255,255,.9);
  font-weight: bold;

  &:hover {
    color: rgba(255,255,255,.9);
    font-weight: bold;
    text-decoration: underline;
  }
}



#reader {

  img {
    max-width: 100%;
  }

  #reader_footer{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 2.5rem;
    z-index: 500;

    >div.centered {
      position: absolute;
      background: #0c0c0c;
      transition: .3s ease;
      color: rgba(255,255,255,.9);
      margin: 0;
      height: 0;
      bottom: 0;
      left: 0;
      right: 0;
      line-height: 2.5rem;
    }
    &:hover{
      >div.centered {
        height:100%;
      }
    }

    .footer-indicator {
      position: absolute;
      top: 0;
      height: 2rem;
      width: 2rem;
      margin-top: -2rem;
      background: #0c0c0c;
      right: 10em;
      border-radius: 25% 25% 0 0;
      line-height: 2rem;

      &>i {
        margin:0;
      }
    }
  }

  #sidebar_menu {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 25em;
    left: 0;
    top: 0;
    background: rgb(12, 12, 12);
    transition: margin-left 0.2s linear;
    margin-left: -25em;
    padding: 25px 25px;
    color: rgba(255,255,255,.9);

    hr {
      border-color: #5d5d5d;
      margin: 1.5em 0;
    }

    :not(.footer) {
      a {
        font-weight: unset;
        &:hover {
          text-decoration: none;
        }
      }
    }


    >.sidebar-toggle-button {
      position: absolute;
      right: -4em;
      z-index: 20;
      transform: scaleX(-1);
      top: 0;
      cursor: pointer;
      width: 4rem;
      height: 4rem;

      >i {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 4rem 4rem 0;
        border-color: transparent rgb(45, 45, 45) transparent transparent;
        color: rgba(255,255,255,.9);
        font-size: 1.4em;

        &:hover {
          border-color: transparent rgb(29, 29, 29) transparent transparent;
        }

        &:before {
          position: absolute;
          left: 1.5em;
          top: .4em;
        }
      }
    }

    &.open {
      margin-left: 0;

      >.sidebar-toggle-button {
        right: 0;
        transform: unset;
        >i {
          border-color: transparent rgb(70, 70, 70) transparent transparent;

          &:hover {
            border-color: transparent rgb(95, 95, 95) transparent transparent;
          }
        }
      }

      &+#reader_container {
        margin-left: 25em;
      }
    }

    #reader_settings_modal_trigger {
      margin-right: 25px;
      color: rgba(255,255,255,.9);;
      vertical-align: middle;
      font-size: 1.3rem;

      &:hover{
        color: rgba(255,255,255,.9);
      }
    }

    .ui.form {
      margin: 0 0 1em;
    }
  }

  #reader_container{
    margin: 0;
    position: relative;
    transition: all .2s;

    & .grid {
      margin:0;
      &>div {
        padding:0;
      }
      &>.column{
        padding: 0;
        line-height: 0;
      }
    }

    .page {
      position: relative;
      cursor: pointer;

      max-width: 100%;
      padding: 0;

      img {
        height: 150px;
      }
      canvas {
        max-width: 100%;
      }
      .wall {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
      }
    }

    #webtoon_reader {
      text-align: center;
      width: 100%;
      margin: 125px 0;
      .page {
        margin: auto;
        cursor: inherit;
        max-width: 100%;

        img {
          margin: 0;
          position: absolute;
          top: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          left: 50%;
          height: 150px;
        }
      }

      .buttons {
        margin: 15px 0;
      }
    }
  }

  .ui.button{
    &.inverted{
      &.black{
        background: #000;
        color: #fff;
        box-shadow: none !important;
        border: 1px solid rgba(34, 36, 38, 0.15);
        &:hover{
          background: #000;
          color: #fff;
          -webkit-box-shadow: 0 0 0 1px #fff !important;
          -moz-box-shadow: 0 0 0 1px #fff !important;
          box-shadow: 0 0 0 1px #fff !important;
        }
      }
    }
  }

  #prev_page, #next_page {
    position: absolute;
    bottom: 0;
    width: 10rem;
    height: 13rem;
    z-index: 10;

    transition: opacity 0.25s linear;
    opacity: 0;

    cursor: pointer;

    &:hover, &.hover {
      opacity: 1;
    }

    .content{
      position: absolute;
      bottom: 1.2rem;;
      color: rgba(255,255,255,.9);
      a{
        color: rgba(255, 255, 255, 0.7);
      }
      p{
        font-size: initial;
        i{
          font-size: 2rem;
          vertical-align: middle;
        }
      }
    }
  }

  .left-page-link {
    left: 0;
    .content {
      left: 1.5rem;
    }

    background-image: linear-gradient(50deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
  }

  .right-page-link {
    right: 0;
    background: linear-gradient(310deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 50%);
    .content {
      right: 1.5rem;
      text-align: right;
    }
  }
}

@media only screen and (max-width: 768px) {
  #reader_container {
    justify-content: unset !important;
    width: 100vw;
  }
}

@media only screen and (max-width: 768px) {
  body.sidebar-opened {
    overflow: hidden!important;
  }

  #settings_reader_modal {
    .actions {
      .button {
        width: calc(50% - 2px);
        margin-left: 0!important;
        margin-right: 0!important;
      }
    }
  }

  #reader {

    #sidebar_menu {
      width: 100vw;
      margin-left: -100vw;

      &.open {

        &+#reader_container {
          margin-left: 0;
        }
      }
    }

    #reader_container{
      #webtoon_reader {
        width: 100%;
        margin: 75px 0;

        .page {
          height: unset !important;
          min-height: 50px;
          line-height: 0;

          img {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            left: 50%;
            height: 50px;
          }
        }

        .buttons {
          a {
            width: calc(50% - 2px);
            margin: 0;
          }
        }
      }
    }

  }

}