<div class="item">
    <div class="right floated content">
        <a href="{{ url('admin_profile_unfollow', {id: follow.id}) }}"
           class="ui mini red button delete unfollow">
            {{ 'btn.unfollow_series'|trans }}
        </a>
    </div>
    <div class="content inline ">
        <a target="_blank" href="{{ url('public_series_details', {
            slug:series.slug
        }) }}" class="header">
            {{ series.name }}
        </a>
    </div>
</div>