{# follow \App\Model\Persistence\Follow #}
{# series \App\Model\Persistence\Series #}


<div class=" green card ">
    {% if series.image %}
        <div class="image">
            <a class=""
               href="{{ url('public_series_details', {
                   slug: series.slug
               }) }}">
                <img src="{{ url('render_image', {
                    'id': series.image.id
                }) }}" alt="">
            </a>
        </div>
    {% endif %}
    <div class="content">
        <div class="header">
            <a class=""
               href="{{ url('public_series_details', {
                   slug: series.slug
               }) }}">
                {{ series.name }}
            </a>
        </div>
        <div class="meta">
            {% for tags in series.tags %}
            {% if not loop.first %}
                |
            {% endif %}
            <a href="{{ url('public_series_list_tags', {'tags': tags}) }}">
                {{ tags }}
            </a>
            {% endfor %}<br>
            {{ 'label.artist' | trans }}: <a href="{{ url('public_series_list_a', {'authorOrArtist': series.artist}) }}">{{ series.artist }}</a><br>
            {{ 'label.author' | trans }}: <a href="{{ url('public_series_list_a', {'authorOrArtist': series.author}) }}">{{ series.author }}</a>
        </div>
        <div class="description">
            {{ series.description | u.truncate(300, '...', false) |nl2br }}
        </div>
    </div>

    <a class="ui bottom attached green inverted button unfollow"
       href="{{ url('admin_profile_unfollow', {id: follow.id}) }}">
        {{ 'btn.unfollow_series'|trans }}
    </a>
</div>
