<div class="ui list inverted">

    {% for notification in notifications.currentPageResults %}
        {% if notification.type is same as ("chapter") %}
            {{ include('backend/partials/notifications_pagination_chapter_item.html.twig', {notification: notification}) }}
        {% endif %}
    {% endfor %}
</div>

{% if linkToPagination is defined and linkToPagination is same as(true) %}
    <div class="ui row">
        <div class="ui right floated">
            <a href="{{ url('admin_profile_notifications', {page:1}) }}" class="ui tiny button teal">
                {{ 'btn.view_notifications'|trans }}
            </a>
        </div>
    </div>
{% else %}
    {% if notifications.haveToPaginate %}
        {{ pagerfanta(notifications, 'semanticui_inverted', {'routeName': 'admin_profile_history', 'routeParams':{'page':'page'}}) }}
    {% endif %}
{% endif %}