{% extends 'layout/admin.html.twig' %}

{% block content %}

    {{ include('backend/partials/flash-bar.html.twig') }}

    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen ten wide large screen eight wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'profile.edition'|trans }}
                </h3>
                <div class="ui attached segment inverted">

                    {% form_theme form 'form/fields.html.twig' %}
                    <div class="ui top attached tabular menu inverted">
                        <a class="item {% if activeTab is null %}active{% endif %}"
                           data-tab="first">{{ 'profile.tabs.general'|trans }}</a>
                        <a class="item {% if activeTab == 'changePasswordForm' %}active{% endif %}"
                           data-tab="second">{{ 'profile.tabs.password'|trans }}</a>
                        <a class="item {% if activeTab == 'settingsForm' %}active{% endif %}"
                           data-tab="third">{{ 'profile.tabs.preferences'|trans }}</a>
                    </div>
                    <div class="ui bottom attached tab basic segment inverted {% if activeTab is null %}active{% endif %}"
                         data-tab="first">
                        <div class="ui grid two column">
                            <div class="row">
                                <div class="twelve wide column">

                                    {% form_theme form 'form/fields.html.twig' %}
                                    {% set formClass = 'ui form inverted' %}
                                    {% if not form.vars.valid %}
                                        {% set formClass = formClass ~ ' error ' %}
                                    {% endif %}
                                    {{ form_start(form, {attr: {class: 'ui form inverted', novalidate:'novalidate', autocomplete:'off'} }) }}
                                    {% if not form.vars.valid %}
                                        {{ form_errors(form) }}
                                    {% endif %}
                                    {{ form_row(form.username) }}
                                    {{ form_row(form.email) }}
                                    {{ form_row(form.language) }}
                                    {{ form_row(form.avatar) }}
                                    {{ form_row(form.website) }}
                                    {{ form_row(form.discordProfile) }}
                                    {{ form_row(form.private) }}
                                    {{ form_row(form.biography) }}

                                    <input type="submit" class="ui button green"
                                           value="{{ 'btn.profile.edition'|trans }}"/>
                                    {{ form_end(form) }}

                                </div>
                                <div class="four wide column">

                                    {% if user.avatar is defined and not user.avatar is null %}
                                        <div class="form_image_column">
                                            <img class="ui centered image" src=" {{ url('render_image', {
                                                'id': user.avatar.id,
                                                'maxwidth': 350
                                            }) }}" alt="user avatar">
                                            <a href="{{ url('admin_profile_delete_image', {id: user.id}) }}" class="ui mini red button icon delete">
                                                <i class="ui delete icon"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui bottom attached tab basic segment inverted {% if activeTab == 'changePasswordForm' %}active{% endif %}"
                         data-tab="second">
                        <div class="ui grid two column">
                            <div class="row">
                                <div class="twelve wide column">

                                    {% form_theme formPassword 'form/fields.html.twig' %}
                                    {% set formClass = 'ui form inverted' %}
                                    {% if not form.vars.valid %}
                                        {% set formClass = formClass ~ ' error ' %}
                                    {% endif %}
                                    {{ form_start(formPassword, {attr: {class: 'ui form inverted', novalidate:'novalidate', autocomplete:'off'} }) }}
                                    {% if not form.vars.valid %}
                                        {{ form_errors(form) }}
                                    {% endif %}
                                    {{ form_row(formPassword.current_password) }}
                                    {{ form_row(formPassword.plainPassword) }}
                                    <input type="submit" class="ui button green"
                                           value="{{ 'btn.profile.password_edition'|trans }}"/>
                                    {{ form_end(formPassword) }}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui bottom attached tab very basic segment inverted {% if activeTab == 'settingsForm' %}active{% endif %}"
                         data-tab="third">
                        <div class="ui grid two column">
                            <div class="row">
                                <div class="twelve wide column">

                                    {% form_theme formSettings 'form/fields.html.twig' %}
                                    {% set formClass = 'ui form inverted' %}
                                    {% if not form.vars.valid %}
                                        {% set formClass = formClass ~ ' error ' %}
                                    {% endif %}
                                    {{ form_start(formSettings, {attr: {class: 'ui form inverted', novalidate:'novalidate', autocomplete:'off'} }) }}
                                    {% if not form.vars.valid %}
                                        {{ form_errors(form) }}
                                    {% endif %}

                                    <div class="inline field">
                                        <div class="ui inverted checkbox toggle">
                                            {{ form_widget(formSettings.settings.chapterEmailNotificationActivated) }}
                                            {{ form_label(formSettings.settings.chapterEmailNotificationActivated) }}
                                            {{ form_errors(formSettings.settings.chapterEmailNotificationActivated) }}
                                        </div>
                                    </div>
                                    {{ form_row(formSettings.settings.readerMode) }}
                                    {{ form_row(formSettings.settings.readerDirection) }}

                                    <input type="submit" class="ui button green"
                                           value="{{ 'btn.profile.preferences_edition'|trans }}"/>
                                    {{ form_end(formSettings) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}