{% extends 'layout/session.html.twig' %}

{% block body %}

    <div class="ui container">
        <div class="ui two column centered grid padded vh100 middle aligned doubling">
            <div class="column">
                <div class="ui header top attached inverted">
                    <span class="ui inverted header h3">
                        {{ 'label.install' | trans }}
                    </span>
                </div>
                <div class="ui attached segment inverted">
                    <div class="ui content">

                        {% include 'partials/flash.html.twig' %}

                        {% form_theme form 'form/fields.html.twig' %}

                        {{ form_start(form, {'method': 'POST', 'attr': {'class': 'ui form inverted', 'novalidate':'novalidate'}}) }}
                        {# {{ form_widget(form, {'attr':{'class':'field'}}) }} #}
                        <div class="field">
                            {{ form_row(form.database_type) }}
                        </div>
                        <div class="field">
                            {{ form_row(form.database_connection_string) }}
                        </div>
                        <div class="field">
                            {{ form_row(form.database_name) }}
                        </div>
                        <div class="field">
                            {{ form_row(form.mailer_dsn) }}
                        </div>
                        <div class="field">
                            {{ form_row(form.mail_sender_address) }}
                        </div>
                        <div class="field">
                            {{ form_row(form.mail_sender_mail) }}
                        </div>
                        <div class="field">
                            {{ form_row(form.default_locale) }}
                        </div>

                        <div>
                            <input class="ui green button" type="submit" value="{{ 'btn.install'|trans }}"/>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}