{% extends 'layout/admin.html.twig' %}
{% block title %}
    {{ 'page_title.series.list'|trans }}
{% endblock %}
{% block content %}

    <div class="ui grid padded center aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen twelve wide widescreen column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>


    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.series.list'|trans }}
                    {% if is_granted(constant('App\\Voter\\SeriesVoter::ROLE_ADD_SERIES')) %}
                    <a href="{{ url('admin_series_add') }}" class="ui button primary mini right floated">
                        {{ 'btn.series.add'|trans }}
                    </a>
                    {% endif %}
                </h3>
                <div class="ui attached segment inverted">
                    <div class="ui list inverted">

                        {% if pagination is defined %}
                            {% for serie in pagination.currentPageResults %}
                                <div class="item">
                                    <div class="right floated content">
                                        {% if is_granted(constant('App\\Voter\\ChapterVoter::ROLE_ADD_CHAPTER'), serie) %}
                                            <a href="{{ url('admin_chapter_add', {'seriesId': serie.id}) }}" class="ui mini primary button">
                                                {{ 'btn.series.add_chapter'|trans }}
                                            </a>
                                        {% endif %}
                                        {% if is_granted(constant('App\\Voter\\SeriesVoter::ROLE_DELETE_SERIES'), serie) %}
                                        <a href="{{ url('admin_series_delete', {'id': serie.id}) }}" class="ui mini red button delete">
                                            <i class="close icon"></i>{{ 'btn.series.delete'|trans }}
                                        </a>
                                        {% endif %}
                                    </div>
                                    {% if serie.image is defined and not serie.image is null %}
                                        <img class="ui image avatar" src=" {{ url('render_image', {
                                            'id': serie.image.id
                                        }) }}" alt="">
                                    {% endif %}

                                    <div class="content inline ">
                                        {% if is_granted(constant('App\\Voter\\SeriesVoter::ROLE_EDIT_SERIES'), serie) or is_granted(constant('App\\Voter\\SeriesVoter::ROLE_VIEW_SERIES'), serie) %}
                                            <a href="{{ url('admin_series_edit', {'id': serie.id}) }}" class="header">
                                                {{ serie.name }}
                                            </a>
                                        {% else %}
                                            {{ serie.name }}
                                        {% endif %}
                                    </div>
                                </div>

                            {% endfor %}

                            {% if pagination.haveToPaginate %}
                                <div class="pagination-container">
                                    {{ pagerfanta(pagination, 'semanticui_inverted', {'routeName': 'admin_series_list', 'routeParams':{'page':'page'}}) }}
                                </div>
                            {% endif %}

                        {% else %}
                            <div class="item">
                                <div class="content">
                                    {{ 'error.series.no_result'|trans }}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}