{% extends 'layout/admin.html.twig' %}
{% block title %}
    {{ 'page_title.series.view'|trans }}
{% endblock %}
{% block content %}
    <div class="ui grid padded center aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen twelve wide widescreen column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>

    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.series.view'|trans }}
                </h3>
                <div class="ui attached segment inverted">

                    <div class="ui grid two column">
                        <div class="row">
                            <div class="twelve wide column">

                                {{ form_row(form.id) }}
                                {{ form_row(form.name) }}
                                {{ form_row(form.author) }}
                                {{ form_row(form.artist) }}
                                {{ form_row(form.description) }}

                                {{ form_row(form.additionalNames) }}
                                {{ form_row(form.slug) }}
                                {{ form_row(form.image) }}

                                {{ form_row(form.readerSettings.readerMode) }}

                                <div class="field">
                                    <div class="ui checkbox">
                                        {{ form_widget(form.adult) }}
                                        {{ form_label(form.adult) }}
                                        {{ form_errors(form.adult) }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        {{ form_widget(form.visible) }}
                                        {{ form_label(form.visible) }}
                                        {{ form_errors(form.visible) }}
                                    </div>
                                </div>
                                {{ form_row(form.customTitle) }}

                            </div>
                            <div class="four wide column">
                                {% if series.image is defined and not series.image is null %}
                                    <img class="ui image" src=" {{ url('render_image', {
                                        'id': series.image.id
                                    }) }}" alt="">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>

        {% include 'backend/partials/series_list_chapters.html.twig' %}

    </div>

    {% if chapters|length > 0 %}
        {% block javascripts %}
            {{ parent() }}
            {{ encore_entry_script_tags('admin-chapter') }}
        {% endblock %}
    {% endif %}

{% endblock %}