{% extends 'layout/admin.html.twig' %}
{% block content %}

    <div class="ui grid padded center aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen twelve wide widescreen column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>

    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen ten wide large screen eight wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {% if chapter.id %}
                        {{ 'title.chapter.edition'|trans }}
                    {% else %}
                        {{ 'title.chapter.creation'|trans }}
                    {% endif %}

                    <a href="{{ url('admin_series_edit', {'id': chapter.series.id}) }}"
                       class="ui button primary mini right floated">
                        {{ 'btn.back_to_series'|trans }}
                    </a>
                </h3>
                <div class="ui attached segment inverted">

                    {% form_theme form 'form/fields.html.twig' %}
                    {% set formClass = 'ui form inverted' %}
                    {% if not form.vars.valid %}
                        {% set formClass = formClass ~ ' error ' %}
                    {% endif %}
                    {{ form_start(form, {attr: {class: formClass, novalidate:'novalidate'} }) }}

                    {% if not form.vars.valid %}
                        {{ form_errors(form) }}
                    {% endif %}

                    <div class="ui grid two column">
                        <div class="row">
                            <div class="twelve wide column">

                                {{ form_row(form.id) }}
                                {{ form_row(form.series) }}
                                {{ form_row(form.name) }}
                                {{ form_row(form.number) }}
                                {% if chapter.id %}
                                    <div class="field">
                                        <div class="ui checkbox">
                                            {{ form_widget(form.visible) }}
                                            {{ form_label(form.visible) }}
                                            {{ form_help(form.visible) }}
                                            {{ form_errors(form.visible) }}
                                        </div>
                                    </div>
                                {% endif %}
                                {{ form_row(form.teams) }}
                                {{ form_row(form.language) }}

                                {% if chapter.id %}
                                    <input type="submit" class="ui button green"
                                           value="{{ 'btn.edit'|trans }}"/>

                                {% else %}
                                    <input type="submit" class="ui button green"
                                           value="{{ 'btn.create'|trans }}"/>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        {% if chapter.id %}
            <div class="sixteen wide tablet screen six wide large screen eight wide widescreen column">

                <div class="row">
                    <h3 class="ui top attached header inverted ">
                        {{ 'title.add_files'|trans }}
                    </h3>
                    <div class="ui attached segment inverted">

                        <div class="dropzone">
                            <div id="actions" class="ui row">

                                <div class="ui row">
                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="ui button primary fileinput-button">
                                    <i class="ui icon plus"></i>
                                    <span>{{ 'btn.add_files'|trans }}</span>
                                </span>
                                    <button type="submit" class="ui button green start" id="upload_all">
                                        <i class="ui icon upload"></i>
                                        <span>{{ 'btn.start_upload'|trans }}</span>
                                    </button>
                                    <button type="reset" class="ui button orange cancel" id="cancel_all">
                                        <i class="ui icon close circle"></i>
                                        <span>{{ 'btn.cancel_upload'|trans }}</span>
                                    </button>
                                    {% if chapter.pages is defined %}
                                        <button class="ui button red delete" id="delete_all">
                                            <i class="ui icon close circle"></i>
                                            <span>{{ 'btn.delete_all_files'|trans }}</span>
                                        </button>
                                    {% endif %}
                                </div>

                                <div class="ui row">
                                    <!-- The global file processing state -->
                                    <div class="fileupload-process">
                                        <div id="total-progress" class="ui progress active inverted hide">
                                            <div class="bar" data-dz-uploadprogress>
                                                <div class="progress"></div>
                                            </div>
                                            <div class="label">{{ 'label.file_uploading'|trans }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- files -->
                            <div class="table table-striped files" id="previews">

                                {% if chapter.pages is defined %}
                                    {% for page in chapter.pages %}
                                        <div class="file-row uploaded" data-old-order="{{ page.order }}">
                                            <div>
                                                <div class="preview"
                                                     data-src-large="{{ url('render_image', {'id': page.image.id}) }}">
                                                    <img class="loader" src="{{ asset('build/img/reader/loader.svg') }}"
                                                         alt="">
                                                    <img class="page page-thumb"
                                                         data-src="{{ url('render_image', {'id': page.image.id, 'height': 80}) }}"
                                                         alt="thumbnail"/>
                                                </div>
                                            </div>
                                            <div>
                                                <p class="name" data-dz-name>{{ page.image.name }}</p>
                                                <strong class="error text-danger" data-dz-errormessage></strong>
                                            </div>
                                            <div>

                                            </div>
                                            <div>
                                                <p class="size" data-dz-size></p>
                                            </div>
                                            <div class="file-actions">
                                                <button data-dz-remove class="ui button red delete "
                                                        data-delete-url="{{ url('admin_chapter_delete_page', {'id': chapter.id, 'order': page.order}) }}"
                                                        data-delete-method="DELETE">
                                                    <i class="ui icon delete"></i>
                                                    <span>{{ 'btn.delete_file'|trans }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="hide">
                                    <div id="template" class="file-row">
                                        <!-- This is used as the file preview template -->
                                        <div>
                                            <span class="preview"><img data-dz-thumbnail alt="thumbnail"/></span>
                                        </div>
                                        <div>
                                            <p class="name" data-dz-name></p>
                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                        </div>
                                        <div class="file-upload-progress">
                                            <div class="ui progress active inverted hide file-progress">
                                                <div class="bar" data-dz-uploadprogress>
                                                    <div class="progress"></div>
                                                </div>
                                                <div class="label">{{ 'label.file_uploading'|trans }}</div>
                                            </div>
                                        </div>
                                        <div>
                                            <p class="size" data-dz-size></p>
                                        </div>
                                        <div class="file-actions">
                                            <button class="ui button green start">
                                                <i class="ui icon upload"></i>
                                                <span>{{ 'btn.start_upload'|trans }}</span>
                                            </button>
                                            <button data-dz-remove class="ui button orange cancel">
                                                <i class="ui icon close circle"></i>
                                                <span>{{ 'btn.cancel_upload'|trans }}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script id="chapter_edition_helper"
                    data-chapter_id="{{ chapter.id }}"
                    data-series_id="{{ chapter.series.id }}"
                    data-url="{{ url('admin_chapter_upload_page') }}"
                    data-uploading_trans="{{ 'label.file_uploading'|trans }}"
                    data-upload_success_trans="{{ 'file.successfully.uploaded'|trans }}"
                    data-upload_failed_trans="{{ 'file.upload.failed'|trans }}"
                    data-delete_file_trans="{{ 'label.delete_file'|trans }}"
                    data-update_page_order_url="{{ url('admin_chapter_update_page_order', {'id':chapter.id}) }}"
                    data-delete_all_url="{{ url('admin_chapter_delete_all_pages', {'id':chapter.id}) }}"
                    data-settings="{{ settings|json_encode|e }}"
            ></script>

        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if chapter.id %}

        {{ encore_entry_script_tags('edit-chapter') }}
    {% endif %}
{% endblock %}
