<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookuto admin{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body class="admin-body">

{% block header %}
    <div class="ui large stackable menu inverted top attached">

        <div class="left menu">
            {% if is_granted(constant('App\\Voter\\SeriesVoter::ROLE_LIST_SERIES')) or is_granted(constant('App\\Voter\\SeriesVoter::ROLE_ADD_SERIES')) %}
                <div class="ui inverted dropdown orange item">
                    <i class="hdd outline icon"></i>
                    {{ 'btn.series.menu'|trans }}
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% if is_granted(constant('App\\Voter\\SeriesVoter::ROLE_LIST_SERIES')) %}
                        <div class="item">
                            <i class="list layout icon"></i>
                            <a href="{{ url('admin_series_list') }}">
                                {{ 'btn.series.manage' |trans }}
                            </a>
                        </div>
                    {% endif %}
                    {% if is_granted(constant('App\\Voter\\SeriesVoter::ROLE_ADD_SERIES')) %}
                        <div class="item">
                            <i class="edit icon"></i>
                            <a href="{{ url('admin_series_add') }}">
                                {{ 'btn.series.add' |trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% if is_granted(constant('App\\Voter\\TeamVoter::ROLE_ADD_TEAM'))
                or is_granted(constant('App\\Voter\\TeamVoter::ROLE_LIST_TEAMS'))
                or is_granted(constant('App\\Voter\\UserVoter::ROLE_LIST_USERS'))
                or is_granted(constant('App\\Voter\\UserVoter::ROLE_ADD_USER'))
                or is_granted(constant('App\\Voter\\UserVoter::ROLE_EDIT_USER_ROLE')) %}
                <div class="ui yellow inverted dropdown item">
                    <i class="industry icon"></i>
                    {{ 'btn.users_teams.menu' | trans }}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% if is_granted(constant('App\\Voter\\TeamVoter::ROLE_LIST_TEAMS')) %}
                            <div class="item">
                                <i class="folder icon"></i>
                                <a href="{{ url('admin_team_index') }}">
                                    {{ 'btn.teams.manage'|trans }}
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted(constant('App\\Voter\\TeamVoter::ROLE_ADD_TEAM')) %}
                            <div class="item">
                                <i class="folder plus icon"></i>
                                <a href="{{ url('admin_team_add') }}">
                                    {{ 'btn.teams.add'|trans }}
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted(constant('App\\Voter\\UserVoter::ROLE_LIST_USERS')) %}
                            <div class="item">
                                <i class="user friends icon"></i>
                                <a href="{{ path('admin_users_list') }}">
                                    {{ 'btn.users.manage' |trans }}
                                </a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endif %}

            {% if is_granted(constant('App\\Voter\\SettingsVoter::ROLE_EDIT_GENERAL_SETTINGS'))
                or is_granted(constant('App\\Voter\\SettingsVoter::ROLE_EDIT_READER_SETTINGS')) %}
                <div class="ui green inverted dropdown item">
                    <i class="settings icon"></i>
                    {{ 'btn.settings.menu'|trans }}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% if is_granted(constant('App\\Voter\\SettingsVoter::ROLE_EDIT_GENERAL_SETTINGS')) %}
                            <div class="item">
                                <i class="setting icon"></i>
                                <a href="{{ url('admin_settings_general') }}">
                                    {{ 'btn.general_settings.menu'|trans }}
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted(constant('App\\Voter\\SettingsVoter::ROLE_EDIT_READER_SETTINGS')) %}
                            <div class="item">
                                <i class="book icon"></i>
                                <a href="{{ url('admin_settings_reader') }}">
                                    {{ 'btn.reader_settings.menu'|trans }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="right menu">

            <a class="green item" href="{{ url('homepage') }}">
                <i class="home icon"></i>
                {{ 'btn.back_to_public'|trans }}
            </a>
            {{ include('frontend/partial/profile-menu.html.twig') }}
        </div>
    </div>
{% endblock %}

<div class="pusher">
    <div id="content" class="private-content">
        {% block content %}
        {% endblock %}
    </div>
</div>

{% block javascripts %}

    {{ encore_entry_script_tags('main') }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
</body>
</html>